.main{
  width: 980px;
  height: 455px;
  margin-left: 220px;
  margin-top: 10px;
}
.main .foucs{
  float: left;
  width: 721px;
  height: 455px;
  background-color: salmon;
}
.main .newflash{
  float: right;
  width: 250px;
  height: 455px;
}
.main .newflash .news{
  height: 165px;
  border: 1px solid #e4e4e4;
}
.main .news-hd{
  height: 33px;
  border: 1px dotted #e4e4e4;
  /* 原视频这里是33px,但是设置后，下方第一个li会居中显示 */
  line-height: 32px;
  padding: 0 15px;
}
.news h5{
  float: left;
  font-size: 14px;
}
.more{
  float: right;
}
.news-hd .more::after{
  font-family: 'icomoon';
  content: '\e920';
}
.news-bd {
  padding: 5px 15px 0;
}
.news-bd ul li{
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.lifeservice{
  overflow: hidden;
  height: 209px;
  border: 1px solid #e4e4e4;
  border-top: 0;
}
.lifeservice ul{
  width: 252px;
}
.lifeservice ul li{
  position: relative;
  float: left;
  width: 63px;
  height: 71px;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  text-align: center;
}
.lifeservice ul li i{
  display: inline-block;
  width: 24px;
  height: 28px;
  margin-top: 12px;
  margin-bottom: 1px;
}
.lifeservice ul li i{
  background: url(../images/icons.png) no-repeat -17px -15px ;
}
.lifeservice ul li:nth-child(2) i{
  background: url(../images/icons.png) no-repeat -79px -15px ;
}
.lifeservice ul li:nth-child(3) i{
  background: url(../images/icons.png) no-repeat -141px -16px ;
}
.lifeservice ul li:nth-child(4) i{
  background: url(../images/icons.png) no-repeat -205px -16px ;
}
.lifeservice ul li:nth-child(5) i{
  background: url(../images/icons.png) no-repeat -17px -88px ;
}
.lifeservice ul li:nth-child(6) i{
  background: url(../images/icons.png) no-repeat -80px -88px ;
}
.lifeservice ul li:nth-child(7) i{
  background: url(../images/icons.png) no-repeat -142px -88px ;
}
.lifeservice ul li:nth-child(8) i{
  background: url(../images/icons.png) no-repeat -208px -88px ;
}
.lifeservice ul li:nth-child(9) i{
  background: url(../images/icons.png) no-repeat -16px -157px ;
}
.lifeservice ul li:nth-child(10) i{
  background: url(../images/icons.png) no-repeat -79px -157px ;
}
.lifeservice ul li:nth-child(11) i{
  background: url(../images/icons.png) no-repeat -142px -157px ;
}
.lifeservice ul li:nth-child(12) i{
  background: url(../images/icons.png) no-repeat -206px -157px ;
}
.sale{
  position: absolute;
  top: -3px;
  right: 0;
}
.sale .minus{
  width: 10px;
  height: 16px;
  background-color: seagreen;
  font-size: 14px;
  color: #e4e4e4;
}
.main .newflash .bargain{
  margin-top: 6px;
}

/* 推荐模块 */
.recom{
  height: 163px;
  margin-top: 12px;
  background-color: #ebebeb;
}
.recom .recom_hd{
  float: left;
  height: 163px;
  width: 205px;
  background-color: #5c5251;
  text-align: center;
  padding-top: 30px;
  color: #fff;
  font-size: 16px;
}
.recom .recom_hd img{
  padding-bottom: 13px;
}
.recom .recom_bd{
  float: left;
}
.recom .recom_bd li{
  position: relative;
  float: left;
}
.recom .recom_bd li img{
  width: 248px;
  height: 163px;
}
.recom .recom_bd li:nth-child(-n+3):after{
  content: '';
  position: absolute;
  top: 10px;
  right: 0;
  width: 1px;
  height: 145px;
  background-color: #ddd;
}
/* 猜你喜欢 */
.guess{
  height: 293px;
  background-color: #fff;
}
.guess .guess_title{
  padding-top: 20px;
}
.guess .guess_title fl{
  color: red;

}
.guess .guess_title fr::after{
  float: right;
  font-family: 'icomoon';
  content: '\ea2e';
}
.guess .guess_items {
  width: 1200px;
  height: 235px;
  margin: 10px 0;
  border: 1px solid #ebebeb;
}
.guess .guess_items li{
  float: left;
  width: 199px;
  height: 235px;
  border: 1px solid #ebebeb;
}

/* floor */
/* 家用电器模块 */
.box_hd{
  height: 30px;
  border-bottom: 2px solid #c81623;
}
.box_hd h3{
  float: left;
  font-size: 18px;
  font-weight: 400;
  color: #c81623;
}
.tab_list{
  float: right;
  line-height: 30px;
}
.tab_list ul li{
  float: left;
}
.tab_list ul li a{
  margin: 0 15px;
}
.floor .w{
  margin-top: 30px;
}
.box_bd{
  height: 361px;
}
.tab_list_item >div{
  float: left;
  height: 361px;

}
.col_210{
  width: 210px;
  background-color: #f9f9f9;
  text-align: center;
  background-color: none;
}
.col_210 ul li{
  float: left;
  width: 85px;
  height: 34px;
  border-bottom: 1px solid #f9f9f9;
  text-align: center;
  line-height: 33px;
  margin-right: 10px;
}
.col_210 ul{
  padding-left: 12px;
}
.col_329{
  width: 329px;
}
.col_221{
  width: 221px;
  border-right: 1px solid #ccc;
}
.col_219{
  width: 219px;
}
.tab_list_item .bb{
  /* 一般情况下，a如果包含有宽度的盒子，a需要转换为块级元素 */
  display: block;
  border-right: 1px solid #ccc;
}

































